/* Esta es la manera de comentar en el CSS. No se utiliza la forma de comentar del HTML. */
/* Dentro del BODY ponemos lo que queremos que se repita en la página en general, en este caso si habrá un margen mayor, la fuente a usar para todo lo que no tenga fuente definida, y el color de fondo. */
body {
  margin: 0;
  background-color: #fdf5e6;
  font-family: "Poppins", sans-serif;
}
/* Podría haber colocado la imagen en el código de la página, pero siempre es más conveniente aquí. No se referencia con A HREF, sino que con URL (DIRECCIÓN INTERNA/EXTERNA). */
header {
  background-position: center;
  background-size: cover;
  background-image: url(img/header.png);
  height: 400px;
}

img {
  vertical-align: middle;
  width:100%;
}
/* La propiedad INHERIT se asegura que va a tener la característica general configurada para la página (en este caso la fuente Poppins), pero muchas veces no es necesario colocar esta propiedad. */
button,input {
  font: inherit;
  margin: 0;
  overflow: visible
}

a {
  color: inherit
}

.button {
  border: none;
  display: inline-block;
  width: 120px;
  padding: 16px 0px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.button:hover {
  color: #000000;
  background-color: #73c1cb
}

footer {
  color: #000000;
  background-color: #bccfd2;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center
}

input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ff914d;
  width: 100%
}

.sidebar {
  height: 100%;
  width: 120px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  overflow: auto;
  font-size: 12px;
  text-align: center
}

.contenido {
  margin-left: 30%;
  margin-right: auto;
  max-width:50%
}
/* Se utiliza !IMPORTANT cuando queremos que "supere" algo de la fuente maestra. En nuestro caso, como los FA vienen con configuración de FontAwesome, necesitamos darle importancia sin falta al tamaño que queremos nosotros y no el que viene de fábrica. */
/* Utilizo REM en lugar de PX como medida porque así se adapta al tamaño de letra que tenga el browser de la persona que mire la página. Es una medida menos estática. 1REM equivale al tamaño de letra base del navegador, que es aprox. 16px. */
.fa {
  font-size: 2rem!important
}

h5 {
  font-family: "Zeyada", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #ff914d
}

.slideshow-container, .mySlides {
  margin-left: 30%;
  margin-right: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
